body {
    font-family: 'Sono', sans-serif;
  }

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 98vh;
}

.pricing-plan {
    flex: 1;
    background-color: #FFF0F5;
    text-align: center;
    font-weight: bold;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-button {
    background-color: #FE6600;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 8px;
    text-decoration: none;
    margin-bottom: 35px;
}




  @media (max-width: 1150px) {
   .pricing-container {
    flex-direction: column;
   }

   .pricing-plan {
    padding: 10px;
   }

   .plan-price {
    font-size: 40px;
   }
}